body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial,sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color:#000000;

   background-color:#ffffff;
}

a {
  text-decoration: none;
}
.page-header {
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;

  background-color:#eeeeee;
}

.menu-item,
.cart {
  list-style: none;
}

.menu a {
  color:#000000;
}

.menu a:hover {
  color: #f7898b;
}

.menu a:focus {
  color: #a6a6a6;
}

.menu a:active {
  color: #5f5f5f;

  border-bottom: 2px solid #fb565a;
}

.advantages .title {
  font-size: 24px;
  line-height: 30px;
  color:#000000;
  text-transform: uppercase;
}

.button {
  color: #ffffff;

  background-color:#fb565a;
}
