body {
  font-family: "Roboto", Arial,sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;

}

a {
  text-decoration: none;
  color: #000000;
  display: inline-block;
  padding: 20px 40px;
}

p {
  margin: 0;
}

 /* Текстовое оформление ссылок в навигиции хедера */
.page-header {
  height: 65px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 68px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 65px;
  padding-top: 50px;
  padding-bottom: 18px;

  background-color: #eeeeee;
}

.logo {
  width: 160px;
  /* height: 65px; */
  /* padding-left: 140px; */
  /* padding-top: 45px; */
}

.menu-list,
.cart {
  list-style: none;
}

.menu-list {
  display: flex;
  justify-content: space-between;

  width: 440px;
  margin: 0;
  padding: 0;
  margin-top: 15px;
}

.cart {
  width: 120px;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  padding-left: 50px;
  position: relative;
}

.cart-link::before {
  content:  "";
  position: absolute;
  top: 27px;
  left: 52px;

  width: 15px;
  height: 15px;

  background-image: url('../img/cart-icon.svg'); /*если картинка в папке выше то 2 точки */
  background-repeat: no-repeat;
  background-position: 0 0;
}

.menu-wrapper .container{
  display: flex;
  justify-content: space-between;
}

.menu .container {
  width: 800px;
  margin: 0 auto;

  padding: 0 10px;
}

.slider {
  padding: 0;

  margin-bottom: 80px;

  background-color: #eeeeee;
}

.page-content .container {
  min-width: 1160px;
}

.slider-title {
  margin: 0;
  margin-left: 140px;
  padding: 0;
  padding-top: 65px;
  padding-bottom: 30px;

  font-size: 55px;
  line-height: 1;
  font-weight: 500;
  width: 380px;
}

.slider-item {
  /* background-color: gold; */
  /* background-image: url("img/slide1.jpg"); */
  /* background-position: right; */
  /* background-repeat: no-repeat; */

}

.slider-item:nth-child(3),
.slider-item:last-child {
  display: none;
}

.slider-text {
  margin: 0;
  margin-left: 140px;
  min-width: 361px;
  padding-bottom: 40px;

}

.menu a:hover {
  color: #f7898b;
}

.menu a:focus {
  color: #a6a6a6;
}

.menu a:active,
.current {
  color: #5f5f5f;

  border-bottom: 2px solid #fb565a;
}

.advantages .container {
  display: flex;
  justify-content: space-around;
  min-width: 1160px;
}
/* Заголовки в блоке преимуществ */
.advantages .title {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 25px;
  width: 300px;
}

.advantages {
  padding: 0;
}

.advantages-item {
  margin: 0 auto;
}

.advantages-item img {
  width: 300px;
  height: 146px;
}

.advantages .text {
  margin: 0;
  width: 260px;
  padding-bottom: 40px;
}


/* Кнопки в блоке преимуществ */
.button {
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
  border-radius: 2px;
}

.slider .button {
  display: inline-block;
  padding: 20px 60px;
  margin-left: 140px;
}





button.button {
  padding: 20px 80px;
  margin-left: 100px;
  margin-bottom: 85px;
  margin-top: 45px;

}



.button.red:hover {
  background-color: #e74246;
}

.button.red:focus {
  color: #e37376;

  background-color: #d7373b;
}

.button.green {
  background-color: #00ca74;
}

.button.green:hover {
  background-color: #00bc6c;
}

.button.green:focus {
  color: #4dc491;

  background-color: #00aa62;
}
.button.yellow {
  background-color: #efc84a;
}

.button.yellow:hover {
  font-weight: 500;
  background-color: #eab534;
}

.button.yellow:focus {
  color: #edc265;

  background-color: #e5a722;
}

/* Кнопка в блоке каталог */
.catalog .button:hover {
  background-color: #e74246;
}

.catalog .button:focus {
 background-color: #d7373b;
}

/* Блок студия */
.studio .title {
  width: 650px;
}

.studio .container {
  display: flex;
  margin-top: 80px;
  min-width: 1160px;

  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.about,
.statistics {
  margin: 0 auto;
}

.partners-list {
  display: flex;
  align-items: center;
  min-width: 1160px;
  padding: 0;

  list-style: none;

  opacity: 0.2;
}

.partners-item {
  margin:  auto ;
}

.about {
  padding-right: 140px;
}

.about .title {
  font-size: 45px;
  line-height: 1;
  font-weight: 500;
  margin: 0;
  padding-top: 80px;
}

.about-list {
  margin: 0;
  padding: 0;
  padding-bottom: 45px;
}

.about-item {
  padding-bottom: 35px;
  padding-left: 36px;
  position: relative;
}

.about-item::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 5px;
  width: 25px;
  height: 2px;

  background-color: #fb565a;
}

.list-title {
  padding-bottom: 35px;
}


.about .text {
  width: 616px;
  margin: 0;
  padding-bottom: 50px;
  padding-top: 50px;
}

.about .list-title,
.statistics .text {
  font-weight: 700;
  text-transform: uppercase;
}

.about-list{
  list-style: none;

}

.statistics {
  padding-left: 140px;
}

.row-first {
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
}

.row-second {
  line-height: 18px;
}

td {
  width: 104px;
  height: 35px;
  padding-top: 25px;
  padding-right: 20px;
}

.statistics .logo {
  width: 360px;
  height: 208px;

  padding-top: 60px;
  padding-bottom: 50px;
}

.statistics .text {
  padding-bottom: 40px;
}

.partners-list:hover {
  opacity: 1;
}

.partners-list:focus {
  opacity: 0.1;
}

/* Блок контакты */
.map  {
  display: flex;
  background-color: #e9e5dc;
  position: absolute;
  width: 100vw;
}

.map img {
  margin:  auto;
  height: 416px;

}

.address {
  width: 319px;
  height: 308px;
  background-color: #ffffff;
}

.container .address {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  position: relative;
  left: 140px;
  bottom: -55px;
  z-index: 1;
}

.address-logo {
  align-self: center;
  padding-top: 55px;
  padding-bottom: 30px;
}

.address p {
 align-self: center;
  width: 210px;
}

.address .tel {
  align-self: center;
}

.address .button {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}

.footer-text-first {
  font-size: 36px;
  line-height: 1;
  font-weight: 700;
}

.socials {
  display: flex;
  height: 215px;

}

.discount {
  line-height: 22px;
}


.socials-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  height: 80px;

}

.socials .container {
  display: flex;
  height: 80px;
  padding-top: 150px;
}

.social-item {
  width: 80px;
  height: 80px;
  border-radius: 50%;

  background-color: #e1e1e1;

  margin-left: 20px;
  position: absolute;
  display: flex;

}
.social-item a{

  margin: auto;
  padding: 0;

}
.vk {
  position: relative;
  margin-left: 80px;
}

.fb {
  position: relative;
}

.insta {
  position: relative;
}
.social-item:hover {
  background-color: #e74246;
}

.socials-item:focus {
  background-color: #d7373b;
}

.footer-text {
  display: flex;
  flex-direction: column;
  width: 560px;
  padding-left: 140px;

}

.footer-text-first {
  padding-top: 5px;
  padding-bottom: 10px;
}

/* Блок Напишите нам модальное окно*/
.write-us {
  height: 590px;

  display: none;

  padding-left: 100px;
  padding-right: 100px;
  padding-top: 75px;
  padding-bottom: 85px;
  position: fixed;
  bottom: 120px;

  left: 14%;
  background-color: #ffffff;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.modal-close {
  position: absolute;
  top: 160px;
  left: 940px;
  width: 22px;
  height: 22px;

  background-color: #ffffff;

  border: 0;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 2px;

  width: 19px;
  height: 3px;

  background-color: #feddde;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.write-us h2 {
  font-size: 45px;
  line-height: 1;
  margin: 0;
  margin-top: 70px;
  margin-bottom: 50px;
  padding-left: 100px;
}

.write-us input,
.write-us textarea {
  line-height: 18px;

  border: 2px solid #d7dcde;
}

.write-us input:hover,
.write-us textarea:hover {
  color: #a1a1a1;

  border: 2px solid #b4b9bb;
}

.write-us input:focus,
.write-us textarea:focus{
  color: #444444;
  border: 2px solid #000000;
}

label {
  line-height: 18px;
  font-weight: 700;
}

.write-us p {
  margin: 0;
  margin-bottom: 40px;
  margin-left: 100px;

}

.write-us-form {
  display: flex;
  flex-wrap: wrap;

  width: 960px;
}

.write-us-form label {
  display: block;
  margin-bottom: 10px;

}

.write-us-form input,
.write-us-form textarea {
  box-sizing: border-box;

  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 17px;
}

.write-us-form textarea {
  width: 760px;
}

.name input,
.email input{
 width: 360px;
}


.email input{
  margin-left: -60px;
}







/*  */
.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* .hidden {
  display: none;
}*/

/* Страница каталога */
.header-title {
  font-size: 55px;
  line-height: 55px;
  font-weight:500;
  background-color: #eeeeee;
  margin: 0;
  padding-bottom: 115px;
  padding-top: 85px;
  padding-left: 360px;
  }

.filter-item {
  margin: 0;
  padding: 0;

  border: none;
  }

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background-color:  #f1f1f1;
}

.max-price {
  text-align: right;
}


.grid-list,
.features-list {
  list-style: none;
}

legend {
  font-size: 18px;
  line-height: 30px;
  font-weight:700;
  text-transform: uppercase;
}


.grid label,
.features label {
  line-height: 20px;
  font-weight:normal;
}

.button-show {
  color: #000000;
  font-family: inherit;
  text-transform: uppercase;

  background-color: #eeeeee;
  border: none;
}

.button-show:hover {
  background-color: #dfdfdf;
}

.button-show:focus {
  color: #959595;

  background-color: #d5d5d5;
}


.catalog .title {
  font-size: 18px;
  line-height: 30px;
  font-weight:700;
  color: #000000;
}

.catalog .title:hover {
  color: #fb565a;
}

.catalog .title:focus {
  color: #b2b2b2;
}

.catalog-text {
  color: #818181;
}
